body {
  font-family: Arial, sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
  background-color: #f4f0fc;
}
.top-bar {
  display: flex;
  align-items: center;    /* függőleges középre igazítás */
  width: 100%;
  margin: 0 auto;
  gap: 30px;              /* térköz header és nav között */
}
header {
  flex: 1;                /* a header foglalja el a rendelkezésre álló helyet */
  text-align: left;
  background: #fbcfe8;
  color: #4b0082;
  padding: 10px;
}
.header-logo {
  max-width: 100px;
  width: 100%;
  height: auto;
  display: block;
}
nav {
  display: flex;
  gap: 15px;
  background: linear-gradient(145deg, #eae0f5, #fbcfe8); /* Finom színátmenet */
  padding: 10px 20px;
  border-radius: 5px;
  align-items: center;
  width: 100%;
  box-shadow: 0 6px 10px rgba(0,0,0,0.08); /* 3D árnyék */
}
nav a {
  color: #3b0764;
  padding: 10px 16px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 4px;
  transition: all 0.3s ease;
  background: #eeecfc;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
}
nav a:hover {
  background: #d6f9fd;
  color: #9d174d;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transform: translateY(-2px);
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}
.post {
  background: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.post h2 {
  margin-top: 0;
}
.post .meta {
  color: #777;
  font-size: 0.9em;
}
.post a {
  color: #777;
  font-size: 0.9em;
}
.post a:hover {
  color: #ff9b9b;
}
footer {
  background: #fbcfe8;
  color: #000000;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.post {
  display: flex;
  background: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  align-items: flex-start; /* ha kell, hogy a kép a szöveg tetejéhez igazodjon */
}
.post-image {
  width: 130px;       /* vagy ahogy szeretnéd */
  height: auto;
  margin-right: 20px; /* térköz a kép és a szöveg között */
  border-radius: 4px;
  object-fit: cover;  /* szép méretezés, ha kell */
}

.post-content {
  flex: 1; /* a szöveg foglalja el a maradék helyet */
}